!!!
html
  head
    title Testing
    link(rel: 'stylesheet', type: 'text/css', href: 'example.css')
  body
    #container
      #header
        h1.name Example.com
        .login
          a(href: '#') login
          = " | "
          a(href: '#') signup
      #nav
        ul
          li about
          li signup
          li contact
      #content omfg! there is so much information about us!!        
      #footer
        h5 &#x2117; Example.com - 2011 all rights reserved
