@import 'blueprint/reset'
@import 'blueprint/grid'
@import 'blueprint/typography'

#container
  container()
  background url('grid.png')
  #header
    span 24 last
  .name
    span 18
    font-size 24px
  .login
    span 6 last
  #nav
    span 6 last
  #content
    span 18 last
  #footer
    span 24 last
