@import 'blueprint/reset'
@import 'blueprint/grid'
@import 'blueprint/typography'

#container
  container('grid.png')
  .number
    span 1

  .section-one
    span 12

  .section-two
    span 12 last

  .blurb
    span 6

  .last
    last()
