!!!
html
  head
    title stylus-blueprint
    link(rel: 'stylesheet', type: 'text/css', href: 'index.css')
  body
    #container
      #header
        h1.name stylus-blueprint
      #nav
        ul
          li
            a(href: 'grid.html') grid
          li
            a(href: 'forms.html') forms
      #content Just an example...work in progress you could say
      #footer
        h5 &#x2117; stylus-blueprint - 2011 very few rights reserved
