!!!
html
  head
    title Testing
    link(rel: 'stylesheet', type: 'text/css', href: 'index.css')
  body
    #container
      #nav.zug
        ul
          li test
          li test2
      #content.zug some content here
      hr
      - for(var i = 1; i < 24; i++)
        .number= i
      .number.last 24
      .section-one once there was a way to get back homeward. once there was a way to get back home. sleep pretty darling do not cry. and I will sing a lullabye
      .section-two wouldn't it be nice if we were older, then we wouldn't have to wait so long, and wouldn't it be nice to live together in the kind of world where we belong?
      .blurb everything is everything is what it's meant to be and everyone means nothing except what they mean to me
      .blurb when there were three of something the boat sprang a leak. now there are three of them at the bottom of the lake
