grid-width = 950px
grid-columns = 24
grid-interval = 40px
span-margin = 10px

container()
  width grid-width
  margin 0 auto
  clearfix()

last()
  margin-right 0px

span(size, last = false)
  float left
  if last or size >= grid-columns
    last()
  else
    margin-right span-margin
  width (grid-interval * size) - span-margin

pull(size)
  margin-left grid-interval * size
  float left
  position relative

push(size)
  margin 0 -(grid-interval * size) 1.5em (grid-interval * size)
  float left
  position relative

append(size)
  padding-right grid-interval * size

prepend(size)
  padding-left grid-interval * size

bp-border(extra = 0)
  padding-right 4px + ((extra * grid-interval)/2)
  margin-right 5px + ((extra * grid-interval)/2)
  border-right 1px solid #ddd

box-margin = 1.5em
box-background-color = #e5ecf9

//incase you need a gutter above/below element
prepend-top()
  margin-top box-margin

append-bottom()
  margin-bottom box-margin

//mixin to create a padded box inside a column
box()
  padding box-margin
  append-bottom()
  background box-background-color

hr-color = #ddd
//use this to create a horizontal ruler across a column
hr
  background hr-color
  color hr-color
  clear()
  float none
  width 100%
  height 1px
  margin 0 0 1.45em
  border none
  .space
    background white
    color white
    visibility hidden

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */
clear()
  clear both

clearfix()
  &:after
    content "\0020"
    display block
    height 0
    clear()
    visibility hidden
    overflow hidden
  display block


