grid-width = 950px
grid-columns = 24
grid-interval = 40px
span-margin = 10px

container()
  width grid-width
  margin 0 auto

last()
  margin-right 0px

span(size, last = false)
  float left
  if last or size >= grid-columns
    last()
  else
    margin-right span-margin
  width (grid-interval * size) - span-margin

pull(size)
  margin-left grid-interval * size
  float left
  position relative

push(size)
  margin 0 -(grid-interval * size) 1.5em (grid-interval * size)
  float left
  position relative

append(size)
  padding-right grid-interval * size

prepend(size)
  padding-left grid-interval * size

border(extra = 0)
  padding-right 4px + ((extra * grid-interval)/2)
  margin-right 5px + ((extra * grid-interval)/2)
  border-right 1px solid #ddd
