html
  font-size 100.01%

body
  font-size 75%
  color #222
  background #fff
  font-family "Helvetica Neue", Arial, Helvetica, sans-serif

header(size)
  font-weight normal
  color #111
  font-size size
  img
    margin 0

h1
  header 3em
  line-height 1
  margin-bottom 0.5em

h2
  header 2em
  margin-bottom 0.75em

h3
  header 1.5em
  line-height 1
  margin-bottom 1.25em

h4
  header 1.2em
  line-height 1.25
  margin-bottom 1.25em

h5
  header 1em
  font-weight bold
  margin-bottom 1.5em

h6
  header 1em
  font-weight bold

p
  margin 0 0 1.5em 0
